// Grid Settings
$page-width: 960px;
$column-count: 12;
$column-count-label: twelfth; // should end in "th"
$column-width: $page-width/$column-count;
$column-gutter: 30px;

// Media Query Settings
$mobile-breakpoint: 320px;
$mobile-horizontal-breakpoint: 480px;
$small-tablet-breakpoint: 600px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 940px;
$super-desktop-breakpoint: 1180px;

// Typography
$default-font: '';
$base-font-size: 16px;
$base-text-color: #000;