/*  ==========================================================================
    Sass Variables, Silent Classes, and Extensions
    ========================================================================== */
 
    .cf { @include clearfix(); }


/*  ==========================================================================
    Global Styles
    ========================================================================== */
    body{ font-family: $default-font; }


/*  ==========================================================================
    Modules
    ========================================================================== */
    
    

/*  ==========================================================================
    Layout Helpers
    ========================================================================== */
    .hide-content{ display: none; }

    .float-left{ float: left; }
    .float-right{ float: right; }

    .alignleft{ float: left; margin: 0 1em 1em 0; }
    .alignright{ float: right; margin: 0 0 1em 1em; }


/*  ==========================================================================
    Media Queries
    ========================================================================== */